body {
	font-family:arial,helvetica,sans-serif;
	width: 100%;
}

h1 {
	text-align: center;
}

#wrapper {
	width: 970px;
	margin: 0 auto;
	padding:10px;
}

.card {
	border:1px solid #bbb;
	float:left;
	width:200px;
	height:245px;
	padding:10px;
	border:1px solid #bbb;
	margin: 0 10px 80px 10px;
	white-space: normal;
	overflow: hidden;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.4);
	font-size: 180px;
	margin-top: 50px;
	text-align: center;
	padding-top: 35px;	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.card img {
	width: 200px;
}

p {
	font-size: 1.5em;
	text-align: center;
	clear: both;
}

p.rule {
	font-weight: bold;
}